<% content_for :title, "New chat cliente" %>

<h1>New chat cliente</h1>

<%= render "form", chat_cliente: @chat_cliente %>

<br>

<div>
  <%= link_to "Back to chat clientes", chat_clientes_path %>
</div>
