<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nome:</strong>
    <%= usuario.nome %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= usuario.numero %>
  </p>

  <p>
    <strong>Tipo de envio:</strong>
    <%= usuario.tipo_de_envio %>
  </p>

</div>
